/* --------------------------------------------------------------------------------------
käse
-------------------------------------------------------------------------------------- */

.kase {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url(../../assets/img/index/karos.png);
}