
/* --------------------------------------------------------------------------------------
HINTERGRUND
-------------------------------------------------------------------------------------- */

body {
    
    
    width: 100vw;
    background-color: black;
    background-image: url(../../assets/img/index/greengrid.jpg);
    /* height: 100svh;
    overflow: scroll; */
}

/* --------------------------------------------------------------------------------------
GRID
-------------------------------------------------------------------------------------- */
main{
    display: grid;
    grid-template-rows: repeat(30, 5svw);
    grid-template-columns:repeat(20,5%)  ;
    /* border:solid rgb(22, 54, 22) 4px; */
    position: absolute;
    width: 100svw;
    overflow: hidden;
}





/* --------------------------------------------------------------------------------------
FONTS
-------------------------------------------------------------------------------------- */
h1 {
    font-family: pf-pixelscript, sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 4.8vw;
}



h2 {
    font-family: CompLiquid;
    font-size: 3.4vw;
}

h3 {
    font-family: ivypresto-headline, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 3vw;
}

h4{
    font-family: CompLiquid;
    font-size: 12vw;
}

h5{
    font-family: ComicSans;
    
}

h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5svw;
    line-height: 1.7svw;
    overflow: scroll;
    
}


p {
    font-family: cofo-sans-pixel, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vw;
    line-height: 2.4vw;
    
    list-style: none;
}

li {
    /* font-family: FT88-Regular;
    font-size: 1.5vw;
    letter-spacing: -1.5px; */

    font-family: cofo-sans-pixel, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;

    list-style: none;
}

a{
    text-decoration: none;
    font-family: cofo-sans-pixel, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    line-height: 1vw;

    list-style: none;
}
a:link {
    color: black;
}
a:visited{
    color: #EE00FF;
}
/* --------------------------------------------------------------------------------------
HÄCKERMÄUSE
-------------------------------------------------------------------------------------- */

.hackermause{
    grid-row: 1;
    grid-column: 1 / span 13;

    padding: 1rem;
    color: magenta;
    text-shadow: 0px 30px 40px  blue;
}



#readme  {
    grid-row: 4;
    grid-column: 8;
    height: 13vw;
    width: 20vw;


    color: white;
    box-shadow: -1px 0px 61px 12px #fffc00;

    background: linear-gradient(40deg,#fffc00,#ff00fc,#ffffff,#e600ff,#f9ff00);
    background-size: 400% 35%;
    animation: gradient-animation 15s ease infinite;
    
}

#readme:hover{
    box-shadow: -1px 0px 90px 15px #fffc00;
}

#close_readme{
    height: 1.6svw;
    width: 1.9svw;
    display: flex;
    justify-content: center;
    align-items: center;  
    box-shadow: -1px -1px 15px 3px rgb(255, 0, 247);
    margin-left: 1vw;
    margin-right: 1vw;

}

#close_readme p {
    font-family: cofo-sans-pixel, sans-serif;
    font-size: 1.8vw;

}




@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }



.nav{
    
    opacity: 0;

}

.nav.show{
    position: sticky;
    grid-row: 5;
    grid-column: 9;
    opacity: 1;

    width: 40svw;
    height: 20svw;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    

    padding: 2svw;

    color: rgb(255, 0, 247);
    background-color: rgb(14, 14, 14);
   
    box-shadow: -1px -1px 15px 3px rgb(255, 0, 247);
    z-index: 2;

}


/* --------------------------------------------------------------------------------------
HÄCKERETHIK
-------------------------------------------------------------------------------------- */

/* .HE_grid{

    

    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(8, 12svw);
    position: absolute;
    width: 100svw;

   
} */

.hackerethik_boxen{
    border-left: 3px solid rgb(237, 237, 237);
    border-top: 3px solid rgb(252, 249, 249);
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
    box-shadow: 2px 2px 0px rgb(0, 0, 0);
    background-color: rgb(167, 167, 167);
   
    padding: .5rem;
    text-decoration: none;

    position: absolute;

    

    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    

    

}

.hackerethik_boxen:hover{
    box-shadow: -1px 0px 10px 10px #7b9ff8;
    cursor: move;

}


.tellme{
    background-color: rgb(167, 167, 167);
    border-left: 2px solid rgb(252, 249, 249);
    border-top: 2px solid rgb(252, 249, 249);
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    box-shadow: 0 0 0 0.8px rgb(0, 0, 0);

    
    width: 100%;
    height: 2vw;
    /* position: absolute; */
    /* left: 30%; */
    bottom: 8px;
    padding: 0.2vw;
    text-align: center;
    

   
  
    
   
    
}

button:hover{
    
    box-shadow: 0 0 0 2px blue;
    background-color: magenta;
     cursor:pointer;

}
button:visited{
    color: #EE00FF;
    background-color: magenta;
}

.GR_0{
    left: 60vw;
    top: 10vw;
   
    width: 30svw;
    height: 13svw;

   
    background-color: blue;
    color: white;
}
.GR_1{
    left: 2vw;
    top: 24vw;

    width: 46svw;
    height: 14svw;
}
.GR_2{
    left: 55vw;
    top: 32vw;

    width: 25svw;
    height: 8svw;
}

.GR_3{
    left: 60vw;
    top: 60vw;

    width: 35svw;
    height: 10svw;
    
}
.GR_4{
    left: 10vw;
    top: 47vw;

    width: 33svw;
    height: 18.5svw;
}
.GR_5{
    left: 50vw;
    top: 90vw;
    width: 25svw;
    height: 11svw;
}
.GR_6{
    left: 75vw;
    top: 73vw;

    width: 24svw;
    height: 16svw;
}
.GR_7{
    left: 20vw;
    top: 75vw;

    width: 20svw;
    height: 11svw;
}
.GR_8{
    left: 49vw;
    top: 45vw;

    width: 22svw;
    height: 11svw;
}





/* --------------------------------------------------------------------------------------
NEIN MAMA
-------------------------------------------------------------------------------------- */
.neinmama{


    grid-row: 14 ;
    grid-column: 6 / span 9;

    height: 20vw;
    padding: 1.5rem; 

    display: flex;
    align-items: center;
    align-content: center;
    

    color: rgb(255, 255, 255);
    text-shadow: 1px 5px 5px violet;

background: rgba(128,102,255,0.5);
background: -moz-radial-gradient(center, ellipse cover, rgba(128,102,255,0.5) 0%, rgba(128,102,255,0.5) 22%, rgba(10,255,14,0.1) 100%);

    /* background-color: rgb(208, 207, 208);
    border-left: 3px solid rgb(237, 237, 237);
    border-top: 3px solid rgb(252, 249, 249);
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
    box-shadow: 2px 2px 0px rgb(0, 0, 0); */


}


.neinmama_hover{
    display: none;

}
.neinmama:hover + .neinmama_hover {
    display: block;
    color: red;

    grid-row: 7;
    grid-column: 7 /span 7;

     background-color: rgb(208, 207, 208);
     border-left: 3px solid rgb(237, 237, 237);
     border-top: 3px solid rgb(252, 249, 249);
     border-bottom: 3px solid gray;
     border-right: 3px solid gray;
     box-shadow: 2px 2px 0px rgb(0, 0, 0);

    
    height: 20vh;

  }

/* --------------------------------------------------------------------------------------
LEBENSPHILOSPHIE
-------------------------------------------------------------------------------------- */

.Lebensphilosphie{

   
    grid-row: 9;
    grid-column: 2 / span 9 ;

   
   
    color: rgb(149, 255, 0);
    text-shadow: 0px 0px 20px rgb(212, 255, 0);
   
    /* background-color: white; */
    /* border-left: 3px solid rgb(153, 45, 255);
    border-top: 3px solid rgb(153, 45, 255);
    border-bottom: 3px solid rgb(100, 4, 189);
    border-right: 3px solid rgb(100, 4, 189);
    box-shadow: 2px 2px 0px rgb(212, 255, 0); */

     

    

}


/* --------------------------------------------------------------------------------------
WAS IST HACKEN ?
-------------------------------------------------------------------------------------- */

.hacken{
    grid-row: 17;
    grid-column: 15 / span 6;
   

    color: lime;

    padding: 1.5rem;


}

/* --------------------------------------------------------------------------------------
CRIME
-------------------------------------------------------------------------------------- */

.crime{
    grid-row: 5;
    grid-column: 15;
    height: 20vw;
    width: 30svw;
    padding: 2rem;

    display: flex;
    align-items: center;
    align-content: center;

    background: rgba(128,102,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(128,102,255,1) 0%, rgba(128,102,255,0.6) 40%, rgba(255,255,255,0) 100%);
    
    
}
.crime h2 {
    
    color: lime;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 0px 0px 20px rgba(0,0,0,0);
}


/* --------------------------------------------------------------------------------------
DATENAUTOBAHN
-------------------------------------------------------------------------------------- */

.Datenautobahn {
    
    grid-row: 19;
    grid-column: 2;

    font-size: 2.5vw;

    height: 20vw;
    width: 60svw;
    color:rgb(12, 213, 217);
    text-shadow :1px 1px 1px rgb(255, 0, 255);
}




/* --------------------------------------------------------------------------------------
GIFS und BILDER
-------------------------------------------------------------------------------------- */

.chaos_gif {
    grid-row: 3;
    grid-column: 3 / span 4;
    
    
}

.hackermaus_png {
    grid-row: 15;
    grid-column: 1 / span 8;
}
#maus:hover {
     transform: scale(140%);
    filter: drop-shadow(1vw 1vw 2vw rgb(205, 95, 196));
}

.firefox_gif{
    grid-row: 10;
    grid-column: 15 / span 6;
    /* filter: drop-shadow(0.5vw 0.5vw 1vw rgb(217, 154, 53)) */

}

#fox:hover{
    transform: scale(130%);
    filter: drop-shadow(1vw 1vw 2vw rgb(217, 154, 53));
}


/* --------------------------------------------------------------------------------------
BIG RED BUTTON 
-------------------------------------------------------------------------------------- */

.red_button{
    grid-row: 22;
    grid-column: 1 ;
    grid-column-end: span 20; 
    /* width: 60svw;
    height: 30svw; */
    
   

}
.red_button > a {
    text-align: center;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
}
.red_button > a:hover{
    filter: drop-shadow(1vw 1vw 3vw rgb(220, 5, 5));
}
.red_button_pfeile{
    grid-row: 25;
    grid-column: 5 ;
    width: 70svw;
    height: 30svw;
    
   

}

.donotpress{
    grid-row: 2;
    grid-column: 5 ;

    width: 50svw;
    height: 12svw;

    font-size: 6vw;

    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow .5s ease-in-out infinite alternate;

    background: #7C00CF;
    background: linear-gradient(to right, #7C00CF 0%, #00FF00 18%, #C6FF28 39%, #FFA200 56%, #EE00FF 72%, #0E00CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;



}

@-webkit-keyframes glow {
    from {
      text-shadow:   0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
    }
    to {
      text-shadow:   0 0 80px #ff4da6;
    }
  }

    
    
  
 






